idxws/Service References/CoreService/InfoStreamService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InfoStream.Metadata" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InfoStream.Metadata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51043/InfoStreamService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:51043/InfoStreamService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="IXRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Fields" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Flags" type="tns:IXRequestFlags" />
      <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Skip" type="xs:int" />
      <xs:element minOccurs="0" name="Take" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IXRequest" nillable="true" type="tns:IXRequest" />
  <xs:simpleType name="IXRequestFlags">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="UseScore">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="IXRequestFlags" nillable="true" type="tns:IXRequestFlags" />
  <xs:complexType name="IXQueryCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfIXQuery" />
      <xs:element minOccurs="0" name="Start" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="tns:IXQueryStatus" />
      <xs:element minOccurs="0" name="Take" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IXQueryCollection" nillable="true" type="tns:IXQueryCollection" />
  <xs:complexType name="ArrayOfIXQuery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IXQuery" nillable="true" type="tns:IXQuery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIXQuery" nillable="true" type="tns:ArrayOfIXQuery" />
  <xs:complexType name="IXQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Records" nillable="true" type="tns:ArrayOfIXQueryResult" />
      <xs:element minOccurs="0" name="Score" type="xs:float" />
      <xs:element minOccurs="0" name="UniqueIdentifierField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IXQuery" nillable="true" type="tns:IXQuery" />
  <xs:complexType name="ArrayOfIXQueryResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IXQueryResult" nillable="true" type="tns:IXQueryResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIXQueryResult" nillable="true" type="tns:ArrayOfIXQueryResult" />
  <xs:complexType name="IXQueryResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsEncoded" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IXQueryResult" nillable="true" type="tns:IXQueryResult" />
  <xs:simpleType name="IXQueryStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="NoData" />
      <xs:enumeration value="NoSetup">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fail">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ErrorQuerySyntax">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ErrorInternal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IXQueryStatus" nillable="true" type="tns:IXQueryStatus" />
</xs:schema>